$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

@import 'uswds';

$blue-warm-vivid: #2672de;
$true-green: #b7f5bd;
$false-red: #f8dfe2;

.grid-row {
  overflow-x: scroll;
}

.pagination,
.pagination ul {
  display: flex;

  li {
    list-style-type: none;
  }

  .firstPage,
  .lastPage {
    display: none;
  }
  &.beginning,
  &.middle {
    .lastPage {
      display: flex;
    }
  }

  &.middle,
  &.end {
    .firstPage {
      display: flex;
    }
  }

  .firstPage::after,
  .lastPage::before {
    content: '…';
  }
}

.query-filter-form fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.query-filter-form label {
  margin-right: 1em;

  & > * {
    margin-left: 0.5em;
  }
}

.usa-header {
  background-color: $blue-warm-vivid;
}

.site-title {
  color: white;
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration: none;
}

th[scope='col'] {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

th[scope='row'] {
  font-weight: 700;
}

td.true {
  background-color: $true-green;
}
td.false {
  background-color: $false-red;
}
