$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

@import 'uswds';

$dark-blue: #162e51;
$blue-warm-vivid: #2672de;
$true-green: #b7f5bd;
$false-red: #f8dfe2;
$text-base-light: #71767a;
$alert-yellow: #faf3d1;

.grid-row {
  overflow-x: scroll;
}

.pagination,
.pagination ol {
  display: flex;
  align-items: center;

  li {
    list-style-type: none;
    padding-right: 10px;
  }

  a {
    color: $dark-blue;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
  }

  span[aria-current='true'] {
    background-color: $dark-blue;
    border-radius: 1em;
    color: white;
    font-weight: 400;
    padding: 3px 10px;
  }

  .firstPage,
  .lastPage {
    display: none;
  }

  &.beginning,
  &.middle {
    .lastPage {
      display: flex;
    }
  }

  &.middle,
  &.end {
    .firstPage {
      display: flex;
    }
  }

  .firstPage::after,
  .lastPage::before {
    content: '…';
  }

  .firstPage::after {
    padding-left: 10px;
  }

  .lastPage::before {
    padding-right: 10px;
  }

  .disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.record-count {
  color: $text-base-light;
  display: inline-block;
  border-left: 1px solid $text-base-light;
  margin-left: 1em;
  padding-left: 1em;
}

.query-filter-form fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
}

.query-filter-form label {
  margin-right: 1em;

  & > * {
    margin-left: 0.5em;
  }
}

.checkbox-group {
  margin-top: 1.5rem;

  legend {
    margin-bottom: 0.5rem;
  }
}

.usa-logo a {
  font-weight: 700;
  line-height: 2.5rem;
  text-decoration: none;
}

th[scope='col'] {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;
}

th[scope='row'] {
  font-weight: 700;
}

.invalid {
  td {
    background: $alert-yellow url(#{$theme-image-path}/alerts/warning.svg)
      1.5rem 50% no-repeat;
    background-size: 1.5rem 1.5rem;
    padding: 1rem 1rem 1rem 3.8rem;
    position: relative;

    &:before {
      background-color: #ffbe2e;
      content: '';
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      width: 0.5rem;
    }
  }
}

.usa-header {
  border-bottom: 1px solid #dfe1e2;
}

.intro {
  background-color: $blue-warm-vivid;
  color: white;
  margin-bottom: 2rem;
}

.usa-footer a {
  line-height: 1.1;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.icon--mail {
  margin-right: 0.4rem;
}

.usa-button--outline.toggle-org-details {
  color: #000;
  box-shadow: inset 0 0 0 2px #000;

  &:hover {
    color: #3d4551;
    box-shadow: inset 0 0 0 2px #3d4551;
  }
}

.loading-indicator {
  height: 20vh;
  display: flex;
  align-items: center;
}
